<!--Moved down due to adding white bar at top of page-->
<% include partials/header %>

<div class="w3-display-middle">
  <div class="w3-display-container w3-animate-opacity w3-text-white">
    <h1 class="w3-jumbo w3-animate-top">Share Your Memories With The People You Love</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <% if(currentUser){ %>
      <p class="w3-large w3-center">Hello! <%= currentUser.name %></p>
    <% } %>
      <p class="w3-large w3-center show-more" style="font-family: Impact, Charcoal, sans-serif;margin-top: 10px">Press and hold button to start auto drive mode</p>
  </div>
  <div style="overflow: visible;position: absolute;margin-top: 3em; margin-left: 2em">
      <button class="fake-button"></button>
      <ul class="talkbubble a">
          <p style="font-size: 50px; float: right">&#128512;</p>
          <p style="margin-left: 10px;margin-top: 10px">Just kidding that's in Tesla</p>
          <li class="a">Upload and search artifacts in ARTIFACTS page.</li>
          <li class="a">View timeline gallery in TIMELINE page.</li>
          <li class="a">Sign in to edit profile and invite family members to join.</li>
      </ul>
  </div>
</div>


<section class="blogpostindexpage">
  <div class="blogpostindexintro greybackground">
    <div class="container">
      <div class="row">
        <!-- nothing here, yet-->
      </div>
      <div class="row"></div>
    </div>
  </div>
</section>

<% include partials/footer %>
