<!--Moved down due to adding white bar at top of page-->
<% include partials/header %>

<div class="container-fluid">
  <div id="header" class="w3-display-middle w-100">
    <div class="w3-display-container w3-animate-opacity w3-text-white" style="text-align: center">
      <h1 class="w3-jumbo w3-animate-top" style="font-family: 'Poiret One', cursive; font-size: 15px;">"Share Your Art Memories<br> With The People You Love"</h1>
      <h5 class="landing">- Team Internet Architects</h5>
    </div>

    <div class="btn-bg bg-2">
      <div class="btn btn-2">
        <a href="/artifactposts">
          <button class="btn btn-primary btn-sm" href="/artifactposts">
            View Artifacts
          </button>
        </a>
      </div>
    </div>

  </div>


</div>




<section id="home" class="landingpage">

</section>




<% include partials/footer %>
