<!--BLOGPOST NEW-->

<% include ../partials/header %>



<section class="newblogpostpage mt-5">



    <div class="heading text-center mb-5">
        <h3>Create New Post</h3>
    </div>
    <div class="container">


        <form action="/artifactposts" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12 col-lg-6 col-md-12 col-sm-12">


                        <div class="form-group">
                            <label class="bmd-label-floating" for="name">Artifact Post Title</label>
                            <input class="form-control" type="text" name="name" required>
                            <span class="bmd-help">Enter the name of the artwork</span>
                        </div>

                        <label class="bmd-label-floating" for="year">Year</label>
                        <input class="form-control" type="number" name="year", min="1850" max="2019" step="1" value="2019" required/>

                        <div class="form-group">
                            <label class="bmd-label-floating" for="location">Location</label>
                            <input class="form-control" type="text" name="location" required/>
                            <span class="bmd-help">Enter the name of the location where artwork is stored</span>
                        </div>


                        <div class="form-group">
                            <label for="descArea" class="bmd-label-floating">Enter Description</label>
                            <textarea rows="10" col="50" type="text" class="form-control" id="descArea" name="description"></textarea>
                            <p class="text-right" id="count_message"></p>
                        </div>

                        <div class="form-group">

                            <label for="select-option" class="bmd-label-floating">Post View Privileges</label>
                            <select name="option" class="form-control" id="select-option">
                                <option name="public" value="1">Public</option>
                                <option name="'friends" value="2">Family</option>
                                <option name="private" value="3">Private</option>
                            </select>
                            <span class="bmd-help">Only post marked as public will be displayed on timeline</span>
                        </div>

                </div>


                <div class="fileupload col-12 col-lg-6 col-md-12 col-sm-12">
                    <label class="bmd-label-floating" for="image">Artworks (Max 5 files)</label>
                    <input type="file" name="image" accept="image/*" data-max-files="5" data-fileuploader-limit="5" required multiple>
                </div>

            </div>



            <div class="row">
                <div class="text-center mt-5 col-12 col-lg-12 col-md-12 col-sm-12">
                    <button id="submit-post" class="btn btn-primary btnLoader">Submit</button>
                    <a id="back-button" class="black-btn btn btnLoader" href="/artifactposts/p/1">Back</a>
                </div>
            </div>
        </form>
    </div>
</section>
</div>

<% include ../partials/footer %>
