<% include ../partials/header %>

<section class="searchblogpostpage">
    <div class="container">
        <div class="row">
            <table class="table table-hover">
                <caption>Search Results</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    <% results.forEach(function (artipost) { %>
                        <tr>
                            <td><a href=<%= "/artifactposts/" + artipost.id %>><%= artipost.name %></a></td>
                            <td><%= artipost.author.username %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</section>

<% include ../partials/footer %>